<h2>Welcome to Currency Calculator</h2>
<hr/>
<form class="form-horizontal" ng-submit="submit()">
    <div class="form-group">
        <label class="col-md-2 control-label">Currency 1</label>
        <div class="col-md-2">
            <select class="form-control" ng-model="currency1">
                <option value="EUR" ng-disabled="currency2=='EUR'">EUR</option>
                <option value="PLN" ng-disabled="currency2=='PLN'">PLN</option>
                <option value="USD" ng-disabled="currency2=='USD'">USD</option>
                <option value="GBP" ng-disabled="currency2=='GBP'">GBP</option>
                <option value="JPY" ng-disabled="currency2=='JPY'">JPY</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Currency 2</label>
        <div class="col-md-2">
            <select class="form-control" ng-model="currency2">
                <option value="EUR" ng-disabled="currency1=='EUR'">EUR</option>
                <option value="PLN" ng-disabled="currency1=='PLN'">PLN</option>
                <option value="USD" ng-disabled="currency1=='USD'">USD</option>
                <option value="GBP" ng-disabled="currency1=='GBP'">GBP</option>
                <option value="JPY" ng-disabled="currency1=='JPY'">JPY</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Date</label>
        <div class="col-md-2">
            <datefield-widget>
                <input type="text" class="form-control" ng-model="date">
            </datefield-widget>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <input type="submit" class="btn btn-success" value="Show rates" />
        </div>
    </div>
</form>
